pysam
cython
setuptools
#warning on apache-beam: https://cloud.google.com/dataflow/docs/guides/common-errors
apache-beam[gcp]==2.37.0 
avro-python3
google-cloud-core
google-api-python-client
intervaltree
mmh3
mock
google-cloud-storage
pyfarmhash
pyyaml
nose
